   <ava-hdr-app [pageName]="'Profissional'" [icon]="'fa-users'"></ava-hdr-app>
    <form name="resourceForm" *ngIf="professional">
        <div class="form-group col-md-6" >
            <label for="pid">PID</label>
            <input id="pid" 
                   type="text" 
                   name="pid" 
                   placeholder="Informe o PID "
                   [disabled] = "action === 'update' ? null : action === 'insert' ? null : true" 
                   [(ngModel)]="professional.pid" 
                   class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="eid">EID</label>
            <input id="eid"
                   type="text" 
                   name="entrepriseID" 
                   [(ngModel)]="professional.eid" 
                   placeholder="Informe o EID " 
                   [disabled] = "action === 'update' ? null : action === 'insert' ? null : true"
                   class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="name">Nome</label>
            <input id="name" 
                   type="text" 
                   name="name" 
                   [(ngModel)]="professional.name" 
                   placeholder="Informe o Nome " 
                   [disabled] = "action === 'update' ? null : action === 'insert' ? null : true"
                   class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input id="email"
                   type="text" 
                   name="email" 
                   [(ngModel)]="professional.email" 
                   placeholder="Informe o Email " 
                   [disabled] = "action === 'update' ? null : action === 'insert' ? null : true"
                   class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="roleID">Cargo</label>
            <select class="form-control" 
            required
            [disabled] = "action === 'update' ? null : action === 'insert' ? null : true"
            >
                <option *ngFor="let role of role" 
                        [attr.value]="role.roleId"
                        [attr.selected]="role.roleId === professional.roleID ? true : null"
                        ((click)="getDetails(professional)">{{ role.name }}</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="prefix">Prefixo</label>
            <input id="prefix" 
                   type="text" 
                   name="prefix"
                   [(ngModel)]="professional.prefix"  
                   placeholder="Informe o Prefixo do Telefone" 
                   [disabled] = "action === 'update' ? null : action === 'insert' ? null : true"
                   class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="phone">Telefone</label>
            <input id="phone" 
                   type="text" 
                   name="phone" 
                   [(ngModel)]="professional.phone" 
                   placeholder="Informe o Telefone" 
                   [disabled] = "action === 'update' ? null : action === 'insert' ? null : true"
                   class="form-control">
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <div [ngSwitch]="action">
                    <div *ngSwitchCase="'insert'">
                        <button type="button" class="btn btn-primary btn-outline" (click)="insertProfessional(professional.pid,professional.eid,professional.name,professional.email,professional.roleID,professional.prefix,professional.phone)">Salvar</button>
                        <button type="button" class="btn btn-primary btn-outline" (click)="goBack()">Voltar</button>
                    </div>

                    <div *ngSwitchCase="'update'">
                        <button type="button" class="btn btn-primary btn-outline" (click)="updateProfessional(professional.pid,professional.eid,professional.name,professional.email,professional.roleID,professional.prefix,professional.phone)">Alterar</button>
                        <button type="button" class="btn btn-primary btn-outline" (click)="deleteProfessional(professional.pid)">Excluir</button>
                        <button type="button" class="btn btn-primary btn-outline" (click)="goBack()">Voltar</button>
                    </div>                 
                 </div>
            <!--
            <button type="button" class="btn btn-default" (click)="goBack()">Voltar</button>
            -->
            </div>
        </div>
    </form>