<form name="resourceForm" *ngIf="role">
    <div class="form-group col-md-6">
        <label for="role">Cargo</label>
        <input id="role" value={{role.name}} type="text" name="role" placeholder="Associate Software Engineer" class="form-control"
            required>
    </div>
    <div class="form-group col-md-4">
        <label for="brc">BRC</label>
        <input id="brc" value={{role.brc}} type="text" name="brc" placeholder="2017ASE" class="form-control" required>
    </div>
    <div class="form-group col-md-2">
        <label for="level">Nível</label>
        <select class="form-control">
                <option *ngFor="let level of levels" 
                         [value]="level" 
                         [selected]="role.level == level">{{ level }}</option>
            </select>
    </div>
    <div class="form-group col-md-12">
        <label for="description">Descrição do Cargo</label>
        <textarea rows="3" id="description" value={{role.description}} type="text" name="description" placeholder="Adicione uma descrição"
            class="form-control" required>
            </textarea>
    </div>
</form>