<ava-hdr-app [pageName]="'Cargos'" [icon]="'fa-map-signs'"></ava-hdr-app>
<form #roleForm="ngForm" *ngIf="role" novalidate>
    <div class="form-group col-md-6">
        <label for="role">Cargo</label>
        <label class="alert-danger" [hidden]="name.valid || name.pristine && action ==='read'">*Campo obrigatório</label>
        <input id="role" [(ngModel)]="role.name" type="text" name="name" placeholder="Associate Software Engineer" class="form-control"
            [disabled]="action==='read'" required #name="ngModel">
    </div>
    <div class="form-group col-md-4">
        <label for="brc">BRC</label>1
        <label class="alert-danger" [hidden]="brc.valid || brc.pristine && action ==='read'">*Campo obrigatório</label>
        <input id="brc" [disabled]="action==='read'" [(ngModel)]="role.brc" type="text" name="brc" placeholder="2017ASE" class="form-control"
            required #brc="ngModel">
    </div>
    <div class="form-group col-md-2">
        <label for="level">Nível</label>
        <select class="form-control" [disabled]="action==='read'" [(ngModel)]="role.level" name="roleLevel">
                <option *ngFor="let level of levels"
                         [value]="level" 
                         [selected]="role.level == level">{{ level }}</option>
        </select>
    </div>
    <div class="form-group col-md-12">
        <label for="description">Descrição do Cargo</label>
        <label class="alert-danger" [hidden]="description.valid || description.pristine && action ==='read'">*Campo obrigatório</label>
        <textarea rows="3" id="description" [disabled]="action==='read'" [(ngModel)]="role.description" type="text" name="description"
            placeholder="Adicione uma descrição" class="form-control" #description="ngModel" required>
            </textarea>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <button *ngIf="action != 'read'" type="submit" class="btn btn-default btn-primary btn-outline" (click)="save()" [disabled]="!roleForm.form.valid">Salvar</button>
            <button *ngIf="action === 'read'" type="button" class="btn btn-default btn-primary btn-outline" (click)="edit()">Editar</button>
            <button *ngIf="action === ('edit' || 'read')" type="button" class="btn btn-default btn-primary btn-outline" (click)="delete()">Excluir</button>
            <button type="button" class="btn btn-default btn-primary btn-outline" (click)="back()">Voltar</button>
        </div>
    </div>
</form>