<ava-hdr-app [pageName]="'Clientes'" [icon]="'fa-user-circle'"></ava-hdr-app>

<form ng-app="" name="customerForm" *ngIf="customer" [ngSwitch]="action">
    <div class="form-group col-md-6">
        <label for="idClient">ID Cliente</label>
        <input id="idClient" [(ngModel)]="customer.customerID" type="text" name="customerID" placeholder="ID do Cliente" class="form-control"
            required disabled> 
    </div>
    <div class="form-group col-md-6">
        <label for="name">Nome</label>
        <input id="name" type="text" name="name" [(ngModel)]="customer.name" 
        placeholder="Nome do Cliente" class="form-control" [disabled]="action !== 'edit'">
    </div>
    <div class="form-group col-md-6">
        <label for="responsible">Responsável</label>

        <!---<input id="responsible" type="text" name="responsible" [(ngModel)]="customer.responsible" placeholder="Nome do profissional Avanade responsável"
            class="form-control" [disabled]="action !== 'edit'"> 

        <select class="form-control" [(ngModel)]="customer.responsible" name="responsible">
            <option *ngFor="let professional of professionals"
                        [value]="pid" 
                        [selected]="customer.responsible == pid">{{ professional.name }}</option>-->

        <select class="form-control"  [(ngModel)]="customer.responsible" name="responsible" required >
                <option *ngFor="let professional of professionals" 
                        [attr.value]="professional.pid"
                        [attr.selected]="customer.responsible === professional.pid ? true : null">{{ professional.name }}</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="contact">Contato</label>
        <input id="contact" type="text" name="contact" [(ngModel)]="customer.contact" placeholder="Nome do contato no cliente"
            class="form-control" [disabled]="action !== 'edit'">
    </div>
    <div class="form-group col-md-6">
        <label for="email">E-mail</label>
        <input id="email" type="text" name="email" [(ngModel)]="customer.email" placeholder="E-mail para contato"
            class="form-control" [disabled]="action !== 'edit'">
    </div>
    <br>
    <div class="form-group">
        <div class="col-sm-8">
            <button type="button" class="btn btn-default btn-primary btn-outline" (click)="goBack()">Voltar</button>
             <button type="button" class="btn btn-default btn-primary btn-outline" (click)="update(customer)">Salvar</button>
        </div>
    </div>
</form>