<ava-hdr-app [pageName]="'Clientes'" [icon]="'fa-user-circle'"></ava-hdr-app>

<form name="customerForm" *ngIf="customer" [ngSwitch]="action" novalidate>
    <div>
        <div class="form-group col-md-6">
            <label for="name">Nome</label>
            <label class="alert-danger" [hidden]="name.valid || name.pristine && action !=='update'">*Campo obrigatório</label>
            <input id="name" type="text" name="name" [(ngModel)]="customer.name" placeholder="Nome do Cliente" class="form-control"
                value="{{ customer.name }}" #name="ngModel" required [disabled]="action !== 'update' ? true : false">
        </div>

        <div class="form-group col-md-6">
            <label for="responsible">Responsável</label>
            <select *ngSwitchCase="'details'" [(ngModel)]="customer.responsible" class="form-control" name="professional" disabled>
            <option value="{{ customer.responsible }}">{{ customer.professional.name }}</option>
            </select>
           
            <select *ngSwitchDefault [(ngModel)]="customer.responsible" class="form-control" name="professional" required>
                <option *ngFor='let professional of professionals' value="{{ professional.pid }}" >{{ professional.name }}</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="cnpj">CNPJ</label>
            <label class="alert-danger" *ngIf="cnpj.errors && (cnpj.dirty || cnpj.touched)" [hidden]="!cnpj.errors.required">*Campo obrigatório</label>
             <label class="alert-danger" *ngIf="cnpj.errors && (cnpj.dirty || cnpj.touched)" [hidden]="!cnpj.errors.pattern">
                    *CNPJ inválido
                </label>
            <input id="cnpj" type="text" name="cnpj" [(ngModel)]="customer.cnpj" placeholder="65.801.640/0001-46" class="form-control"
                [disabled]="action !== 'update' ? true : false" pattern="^[0-9]{2}.[0-9]{3}.[0-9]{3}/[0-9]{4}-[0-9]{2}" #cnpj="ngModel" required>
        </div>
        <div class="form-group col-md-6">
            <label for="contact">Contato</label>
            <input id="contact" type="text" name="contact" [(ngModel)]="customer.contact" placeholder="Nome do contato no cliente" class="form-control"
                [disabled]="action !== 'update' ? true : false">
        </div>
        <div class="form-group col-md-6">
            <label for="email">E-mail</label>
            <label class="alert-danger" *ngIf="email.errors && (email.dirty || email.touched)" [hidden]="!email.errors.pattern">*E-mail inválido</label>
            <input type="email" name="emailCustomer" [(ngModel)]="customer.email" placeholder="email@email.com" class="form-control"
                [disabled]="action !== 'update' ? true : false" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
        </div>
        <br>
    </div>

    <div class="form-group">
        <div class="col-sm-8">
            <button type="button" class="btn btn-default btn-primary btn-outline" (click)="goBack()">Voltar</button>
            <button type="button" class="btn btn-default btn-primary btn-outline" (click)="update()" *ngSwitchCase="'details'">Editar</button>
            <button type="button" class="btn btn-default btn-primary btn-outline" (click)="updateCustomer(customer)" *ngIf="action === 'update'">Salvar</button>
            <button type="button" class="btn btn-default btn-primary btn-outline" (click)="insertCustomer(customer)" *ngIf="action === 'create'">Salvar</button>
            <button type="button" class="btn btn-default btn-primary btn-outline" (click)="delete()" *ngIf="action === 'details'">Excluir</button>
            
        </div>
    </div>
</form>