.navbar-default {
  background-color: #ff5800;
  border-color: #ff4f00;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav> li> a {
  color: #ffffff;
}

.navbar-default .navbar-nav> li> a:hover,
.navbar-default .navbar-nav> li> a:focus {
  color: #ecdbff;
}

.navbar-default .navbar-nav> .active> a,
.navbar-default .navbar-nav> .active> a:hover,
.navbar-default .navbar-nav> .active> a:focus {
  color: #ecdbff;
  background-color: #ff4f00;
}

.navbar-default .navbar-nav> .open> a,
.navbar-default .navbar-nav> .open> a:hover,
.navbar-default .navbar-nav> .open> a:focus {
  color: #ecdbff;
  background-color: #ff4f00;
}

.navbar-default .navbar-toggle {
  border-color: #ff4f00;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ff4f00;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

.navbar-space {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu> li> a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu> li> a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu> li> a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu> .active> a,
  .navbar-default .navbar-nav .open .dropdown-menu> .active> a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu> .active> a:focus {
    color: #ecdbff;
    background-color: #ff4f00;
  }
}

thead th{
  background-color: #ff4f00;
  color: white;
  text-align: center;
}